/*
* Created by Lucas Maggi.
*/
#root, body {
    top:0px;
    bottom:0px;
    left:0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    width:100%;
    height:100%;
    background: white;
    position: absolute;
    user-select: none;
}
canvas {
    top:0px;
    left:0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}
div.canvas {
    z-index: -1;
    top:0px;
    left:0px;
    margin: 0px;
    padding: 0px;
    width:100%;
    height:100%;
    background: white;
    position: absolute;
    overflow: hidden;
}

#CurveList {
  width:200px;
  height:200px;  
}

div.menu {
    width:160px;
    z-index:3;
    background-color:lightgray;
    height: 100%;
}
button {
    border: 1px solid transparent;
    display: block;
    width: 100%;
    padding: 4px;
    background: lightgray;
    color: black;
}
button:hover {
    background-color: lightskyblue;
}
button:active {
    border: 1px solid blue;
}

button.active {
    background-color: lightskyblue;
    border: 1px solid blue;
    font-weight: bold;
}
div > input[type=checkbox] {
    scale: 2;
    margin: 10%;
}
button[id=PrevCurve], button[id=NextCurve] {
    display: unset;
    width: 40%;
}
button[id=NextCurve] {
    right: 0px;
    float:right;
    position: relative;
}
label[id=SelectedCurve] {
    float:center;
    text-align: center;
}

div.checkbox {
    width: 100%;
    display: block;
}
div.number {
    width: 100%;
    display: block;
}

h2 {
    margin: 0px;
    padding: 4px;
    text-align: center;
}

a { 
    color: #000;
}